.heading1{
  color: rgb(46, 35, 71);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; 
  font-size: 6rem;
  
}
.colrtext{
    color:cadetblue;
}
.styledtext{
    font-family: 'Fuggles', cursive;

}
.styles2{
    font-family: fantasy;
    font-size: 3rem; 

}